<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1 style="text-align: center;" >Home</h1>
    <p style="text-align: center;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In qui enim, consectetur doloremque accusantium exercitationem ipsum non necessitatibus corrupti voluptas dolorem magnam totam ducimus, nemo quas corporis sunt voluptates nisi quaerat quis natus. Iste temporibus recusandae ad consequuntur accusamus accusantium ratione exercitationem quasi, porro tempore assumenda esse quisquam culpa perferendis doloremque illo adipisci rerum. Architecto laboriosam vel odio omnis obcaecati dolorum commodi, nemo eveniet molestias odit nam, fugit blanditiis, quisquam porro quasi tempore eos! Perferendis accusantium sapiente laborum aspernatur officiis. Quaerat ad veritatis, quisquam veniam deserunt provident! Sequi maxime sit, iusto placeat provident distinctio, perferendis molestias rem quaerat, autem dignissimos.</p>
   <div style="display: flex; justify-content: space-between; width: 50%; margin: auto; text-align: center;">
    <a style="text-align: center; padding: 10px 25px; background-color: #28a745; color: #fff; text-decoration: none;" href="/about">About</a>
    <a style="text-align: center ; padding: 10px 25px; background-color: #28a745; color: #fff; text-decoration: none;" href="/form">Form</a>

   </div>
    
</body>
</html>