<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
 <h1 style="text-align: center;">About</h1>
 <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto vel eveniet quaerat quasi voluptatibus deserunt provident aut incidunt nulla perspiciatis reiciendis, dignissimos dolorem alias beatae, a ad eum facilis totam obcaecati amet suscipit! Et pariatur magnam obcaecati impedit. Placeat error laboriosam omnis tempora nostrum facere, accusantium architecto molestias qui similique. Sint laudantium distinctio quos voluptate recusandae minima vitae id, voluptas, nostrum harum doloribus officiis veritatis. Porro rerum quisquam mollitia in perspiciatis eveniet totam sequi sunt veritatis. Numquam architecto quibusdam libero, earum quo laborum animi dignissimos nesciunt recusandae sint quam veniam distinctio totam illo a aliquid eligendi quia modi impedit saepe! Maiores deleniti nihil alias qui blanditiis expedita, explicabo tenetur ea asperiores quas incidunt officiis, id dolore ad mollitia, non ratione.
 </p>  
 <a style="text-align: center; padding: 10px 25px; background-color: #28a745; color: #fff; text-decoration: none;" href="/">back to Home</a> 
</body>
</html>